<h1><%=@pirate.name%></h1>

<p><% @pirate.ships.each_with_index do |ship, i| %></p>
<p>Ship Number. <%= i+1 %></p>
<p> <%= ship.name %></p>
<p> <%= ship.category %></p>
<p> <%= ship.booty %></p>
<%end%>
